<div id="extgallery">
	<a href="<{xoAppUrl modules/extgallery/}>"><{$extgalleryName}></a><{foreachq item=node from=$catPath name=breadcrumb}> <img src="images/breadcrumb-link.gif" alt="BreadCrumb" /> <a href="public-categories.php?id=<{$node.cat_id}>"><{$node.cat_name}></a><{/foreach}> <img src="images/breadcrumb-link.gif" alt="BreadCrumb" /> <{$cat.cat_name}>

<script type="text/javascript">
$(function() {
<{if $slideshow_transtype == 'fold'}>
$('div.slideshow').crossSlide({
speed: 20,
fade: 1
}, [
<{foreachq item=photo from=$photos name=slideShowPhotos}>{src: '<{$icms_url}>/uploads/extgallery/public-photo/medium/<{$photo.photo_name}>', dir: '<{cycle values="up,down,left,right"}>' }<{if ! $smarty.foreach.slideShowPhotos.last}>,
<{/if}><{/foreach}>
]);
<{elseif $slideshow_transtype == 'kenburns'}>
$('#show').crossSlide({
fade: 1
}, [
<{foreachq item=photo from=$photos name=slideShowPhotos}>
{
src:  '<{$icms_url}>/uploads/extgallery/public-photo/medium/<{$photo.photo_name}>',
from: '<{cycle values="100% 80% 1x, top left, 100% 80% 1.5x, 100% 50%"}>',
to:   '<{cycle values="100% 0% 1.7x, bottom right 1.5x, 80% 0% 1.1x, 30% 50% 1.5x"}>',
time: <{cycle values="3,2"}>
}<{if ! $smarty.foreach.slideShowPhotos.last}>,<{/if}>
<{/foreach}>
]);
<{else}>
$('#show').crossSlide({
sleep: 2,
fade: 1
}, [
<{foreachq item=photo from=$photos name=slideShowPhotos}>{ src: '<{$icms_url}>/uploads/extgallery/public-photo/medium/<{$photo.photo_name}>' }<{if ! $smarty.foreach.slideShowPhotos.last}>,<{/if}><{/foreach}>
]);
<{/if}>
});
</script>



 <div id="show" class="slideshow">
  <img src="<{$icms_url}>/uploads/extgallery/public-photo/thumb/thumb_<{$photos[0].photo_name}>" alt="<{$photos[0].photo_desc|escape:'html'}>" />
 </div>
<div class="clear">&nbsp;</div>
<div id="slideshow-caption" style="padding: 5px; text-align: center;"><{$photo.photo_desc}></div>
<div class="clear">&nbsp;</div>
<div id="thumbs" class="odd" style="display: inline-block; width: 100%; padding: 10px; margin: 0 auto;">
<{foreachq item=photo from=$photos name=slideShowPhotos}>
  <a href="public-photo.php?photoId=<{$photo.photo_id}>"><img src="<{$icms_url}>/uploads/extgallery/public-photo/thumb/thumb_<{$photo.photo_name}>" alt="<{$photos[0].photo_desc|escape:'html'}>" width="125" /></a>
<{/foreach}>
</div>
<div style="margin-top: 115px;" />
	<{include file='db:system_notification_select.html'}>
</div>