<div id="extgallery">
	<a href="<{xoAppUrl modules/extgallery/}>"><{$extgalleryName}></a> <img src="images/breadcrumb-link.gif" alt="BreadCrumb" /> <{$lang.albumName}>
	<div class="pageNav">
		<{$pageNav}>
	</div>
	<table id="thumbTable" class="outer">
		<tr>
			<th colspan="<{$nbColumn}>"><{$lang.albumName}></th>
		</tr>
		<tr class="even">
		<{section name=photo loop=$photos}>
		<{if $smarty.section.photo.index % $nbColumn == 0 && !$smarty.section.photo.first}>
		</tr>
		<tr class="even">
		<{/if}>
			<td>
			<{if $photos[photo].photo_id}>

				<!-- Start Admin link -->
				<{if $xoops_isadmin}>
				<div>
					<a href="public-modify.php?op=edit&id=<{$photos[photo].photo_id}>"><img src="images/edit.gif" /></a>&nbsp;
					<a href="public-modify.php?op=delete&id=<{$photos[photo].photo_id}>"><img src="images/delete.gif" /></a>
				</div>
				<{/if}>
				<!-- End Admin link -->

				<{if $photos[photo].photo_serveur && $photos[photo].photo_name}>
				<a href="public-userphoto.php?photoId=<{$photos[photo].photo_id}>#photoNav"><img class="thumb" src="<{$photos[photo].photo_serveur}>thumb_<{$photos[photo].photo_name}>" alt="<{$photos[photo].photo_desc}>" title="<{$photos[photo].photo_desc}>" /></a>
				<{elseif $photos[photo].photo_name}>
				<a href="public-userphoto.php?photoId=<{$photos[photo].photo_id}>#photoNav"><img class="thumb" src="<{$icms_url}>/uploads/extgallery/public-photo/thumb/thumb_<{$photos[photo].photo_name}>" alt="<{$photos[photo].photo_desc}>" title="<{$photos[photo].photo_desc}>" /></a>
				<{/if}>

				<!-- Start Hit count -->
				<div><b><{$photos[photo].photo_hits}></b> <{$lang.hits}></div>
				<!-- End Hit count -->

				<!-- Start Comment count -->
				<div><b><{$photos[photo].photo_comment}></b> <{$lang.comments}></div>
				<!-- End Comment count -->

				<!-- Start Submitter link -->
				<div><a href="<{$icms_url}>/userinfo.php?uid=<{$photos[photo].user.uid}>"><{$photos[photo].user.uname}></a></div>
				<!-- End Submitter link -->

				<!-- Start Rating score -->
				<div><img src="images/rating_<{$photos[photo].photo_rating}>.gif" alt="Score rating : <{$photos[photo].photo_rating}>" title="Rating Score" /></div>
				<!-- End Rating score -->

				<{if $enableExtra}>
				<!-- Start extra field -->
				<div><{$photos[photo].photo_extra}></div>
				<!-- End extra filed -->
				<{/if}>

				<{foreachq item=pluginLink from=$photos[photo].link}>
                <a href="<{$pluginLink.link}><{$photos[photo].photo_id}>" alt="<{$pluginLink.name}>"><{$pluginLink.name}></a>
				<{/foreach}>

				<!-- Start Displaying Hook code -->
				<!--<{if $xoops_isadmin}>
					<div><input type="text" value='[gallery title="<{$photos[photo].photo_desc}>"]<{$photos[photo].photo_id}>[/gallery]' /></div>
				<{/if}>-->
				<!-- End Displaying Hook code -->
			<{/if}>
			</td>
		<{/section}>
		</tr>
	</table>
	<div class="pageNav">
		<{$pageNav}>
	</div>

	<{include file='db:system_notification_select.html'}>
</div>